<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>				
		<meta charset="UTF-8">
		<title>Nuevo Usuario</title>
	</head>
	<body class="container">
	    <header th:replace="/layouts/header::header"></header>
		<div class="container col-4">
			<h2>Registrar Usuario</h2><br>
			<form th:action="@{/usuario}" method="POST" th:object="${usuario}">
			  
			  
			  <div class="mb-3 row">
			    <label for="idNombre" class="col-form-label">Nombre</label>
			    <input th:field="*{nombre}" type="text" class="form-control" id="idNombre">
			  </div>
			  
			  <div class="mb-3 row">
			    <label for="idEmail" class="col-form-label">Email</label>
			    <input th:field="*{email}" type="email" class="form-control" id="idEmail">		    
			  </div>
			  
			  
			  
			  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<button th:href="@{/usuario}"  class="btn btn-primary me-md-2" type="submit">Registrar</button>
					<a th:href="@{/usuario}" id="cancel" class="btn btn-secondary">Cancelar</a>	  				
			  </div>
			  
			  
			</form>
		</div>
		<br><br>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>	
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
	   <footer th:replace="/layouts/footer::footer"></footer>
	</body>
</html>